<style>
    #graph-page {
        padding: 2em;
    }
    #graph {
        margin-top: 2em;
        max-width: 500px;
    }
</style>
<div id="graph-page">
	<h2>Activity per user:</h2>
	<div id="graph">
		<canvas id="activity-chart"></canvas>
	</div>
</div>
